*

# Include gitignore file.
!/.gitignore

# Include README and LICENSE files.
!/README.md
!/LICENSE

# Include privacy notes.
!/PRIVACY.md

# Include Supabase
!/supabase/
!/supabase/**/
!/supabase/**/*

# Include github ci
!/.github/
!/.github/**/
!/.github/**/*.yml
