*

# Include gitignore file.
!/.gitignore

# Include README and LICENSE files.
!/README.md
!/LICENSE

# Include privacy notes.
!/PRIVACY.md

# Include VS Code settings.
!/.vscode/
!/.vscode/settings.json
!/.vscode/extensions.json

# Include frontend config files.
!/.env.example
!/.prettierrc.json
!/.eslintrc.js
!/package.json
!/pnpm-lock.yaml
!/postcss.config.js
!/tailwind.config.js
!/tsconfig.json
!/tsconfig.test.json
!/vite.config.ts
!/vitest.config.ts
!/.prettierignore

# Include frontend static files.
!/public/
!/public/**/
!/public/**/*
/public/**/.DS_Store

# Include frontend source files.
!/index.html
!/src/
!/src/**/
!/src/**/*.ts
!/src/**/*.tsx
!/src/assets/*
/src/assets/.DS_Store
!/tests/
!/tests/**/
!/tests/**/*.ts
!/tests/**/*.tsx

# Include supabase files.
!/supabase/
!/supabase/**

# Include github workflows
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
